
/* Global Style */
* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none !important;
}

input {
  font-family: inherit;
}

.container1 {
  padding: 0 100px;
  margin: 0 auto;
  width: 90%;
}

.container-header-footer {
  padding: 0 30px;
  margin: 0 auto;
}

.container-header-footer .text-1 {
  font-size: 15px;
  margin: 20px 20px;
}

.container-header-footer .text-2 {
  font-size: 15px;
  margin: 2px 20px;
  display: block;
  color: black;
}

.mybtn1, .mybtn2 {
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
  padding: 10px 50px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.mybtn1 {
  background-color: #ffffff;
}

.mybtn2 {
  color: #ffffff;
}

.mybtn2:hover {
  color: #ffffff;
}

.mybtn1:focus,
.mybtn2:focus {
  box-shadow: none;
}

.mybtn1::before,
.mybtn2::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  background: rgba(125, 23, 23, 0.1);
  height: 100%;
  z-index: -1;
  transition: all 0.3s ease;
}

.mybtn1:hover::before,
.mybtn2:hover::before {
  width: 100%;
}

section {
  position: relative;
  padding: 80px 0;
}

.section-title {
  margin-bottom: 60px;
  text-align: center;
}

.section-title .title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: inline-block;
  text-transform: uppercase;
  margin: 0 0 15px;
  position: relative;
  padding: 5px 10px;
  z-index: 1;
}

.section-title .title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  border-radius: 4px;
  opacity: 0.1;
}

.section-title .subtitle {
  font-size: 3.5vw;
  line-height: 60px;
  color: #222222;
  font-weight: 700;
  margin: 50px 0;
}

.bg-light {
  background-color: #f5f5ff;
}

/* Preloader */
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #222222;
  z-index: 1100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader .loader {
  height: 50px;
  width: 50px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  animation: preloader 1s linear infinite;
}

@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Header */
.header {
  border-bottom: 1px solid rgba(190, 190, 190, 0.2);
  box-shadow: 0 0 10px black;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(255, 255, 255);
}

.header .navbar {
  padding: 0;
}

.navbar-brand .img-header {
  height: 40px;
}

.navbar-brand .img-footer {
  height: 60px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.header .navbar #collapsibleNavbar .nav-item .nav-link {
  color: #000000;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  padding: 20px 15px 20px;
  line-height: 26px;
}

.header .navbar #collapsibleNavbar .nav-item .nav-link:hover {
  opacity: 0.6;
}

.header #collapsibleNavbar ul li a i {
  font-size: 120%;
}

.border-round-navbar {
  border: solid 1px black;
  border-radius: 50px;
  margin-top: 12px;
  width: 135px;
  margin-left: 15px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* home-section-1 */
.home-section-1 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  /* background-image: url('../img/CellPhone-bg.png');
  background-size: cover;
  background-repeat: no-repeat; */
  /* padding: 250px 0 200px; */
}

.home-section-1::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 112px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -1;
}

.home-section-1 .home-section-1-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-section-1 .home-section-1-content h1 {
  font-size: 70px;
  color: #ffffff;
  font-weight: 700;
  line-height: 80px;
  margin: 0;
  margin-bottom: 50px;
  width: 780px;
}

.home-section-1 .home-section-1-content p {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 40px;
  margin-top: 20px;
  line-height: 28px;
  font-weight: normal;
}

.home-section-1 .home-section-1-img {
  position: relative;
}

.home-section-1 .home-section-1-img img {
  max-width: 600px;
  width: 100%;
  position: absolute;
  left: 100px;
  top: 50px;
}

/* home-section-2 */
.home-section-2 {
  padding: 80px 0 160px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: #EBEBEB;
}

.home-section-2::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 112px;
  background-image: url('../img/shape-bg-1.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -1;
}

.home-section-2 .features-item {
  padding: 40px 30px;
  margin-bottom: 30px;
  background-color:#EBEBEB;
  border-radius: 5px;
  text-align: center;
  transition: all 0.5s ease;
}

.home-section-2 .features-item img {
  width: 100%; 
  margin-bottom: 30px;
}

.home-section-2 .features-item:hover {
  transform: translateY(-10px);
}

.home-section-2 .features-item:hover p {
  color: #858585;
}

.home-section2-tab-container {
  justify-content: space-between;
  position: relative;
}

.home-section2-tab {
  cursor: pointer;
}

.home-section2-tab > p {
  padding-bottom: 15px;
  margin-bottom: -3px;
  width: fit-content;
  font-size: 2vw;
}

.home-section2-tab > p:hover {
  color: #a55149 !important;
  border-bottom: 3px solid #a55149 !important;
}

.home-sec2-animation-row {
  height: 400px;
}

.home-sec2-animation-div {
  text-align: center;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-sec2-content-div {
  text-align: left;
  margin-top: 50px;
}

.home-sec2-content-div > p {
  font-size: 2vw;
  margin: 20px;
}

.typewritter-div {
  padding: 10px 25px;
  border: 2px solid black;
  border-radius: 50px;
  background-color: #CAE2F8;
  width: 31vw;
  font-size: 1.5vw;
  height: 60px;
  min-width: 300px;
  display: flex;
  justify-content: left;
  align-items: center;
}

/* home-section-3 */
.home-section-3 {
  padding: 0 0 100px;
  background-color: #ffffff;
}

.home-section-3 .sec3-col {
  padding: 0 1.5vw;
  justify-content: center;
}

.home-sec3-item-container {
  height: 32vw;
  border-radius: 20px;
  box-shadow: 20px 20px 60px #D0D0D0, -20px -20px 60px #FFFFFF;
  width: 22.4vw;
  background-color: #F5F5F5;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-sec3-item-container .intersect-1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  z-index: 1;
}

.home-sec3-item-container .loginSec3 {
  position: absolute;
  z-index: 2;
  top: 20%;
  width: 80%;
}

.home-sec3-item-container .password-dots {
  display: flex;
  position: absolute;
  height: 6%;
  width: 55%;
  top: 63%;
  background-color: transparent;
  z-index: 3;
  justify-content: left;
  align-items: center;
}

.home-sec3-item-container .password-dots .dot {
  height: 24%;
  margin: 0 1%;
}

.home-sec3-item-container .intersect-2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 45%;
  z-index: 1;
}

.home-sec3-item-container .blankPhoneSec3 {
  position: absolute;
  z-index: 3;
  top: 7%;
  width: 37%;
}

.home-sec3-item-container .pluginSec3 {
  position: absolute;
  z-index: 2;
  top: 53%;
  width: 29%;
}

.home-sec3-item-container .intersect-3 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80%;
  z-index: 1;
}

.home-sec3-item-container .unchecked {
  position: absolute;
  z-index: 2;
  top: 11%;
  width: 77%;
}

.home-sec3-item-container .check {
  position: absolute;
  z-index: 3;
  width: 5%;
}

.home-sec3-item-container .sec3-card-num {
  position: absolute;
  top: 0.7vw;
  right: 1.5vw;
  font-size: 2.5vw;
  font-weight: bold;
  color: rgba(223, 214, 214, 0.32);
}

.home-sec3-item-container .sec3-card-topic {
  font-size: 2vw;
  font-weight: bold;
  bottom: 3vw;
  position: absolute;
  z-index: 5;
}



/* home-section-4 */
.home-section-4 {
  padding: 200px 0 120px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: #EBEBEB;
}

.home-section-4 img {
  width: 100%;
  margin-top: 20px;
}

.home-section-4::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -1px;
  height: 300px;
  background-image: url('../img/shape-bg-2.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  z-index: -1;
}

.home-section-4 .products-item {
  box-shadow: 0 0 10px #dddde3;
  margin: 15px 0;
}

/* home-section-5 */
.home-section-5 {
  padding: 120px 0 120px;
  background-color: #141414;
}

.home-section-5 .features-item {
  /* box-shadow: 0 0 20px #000000; */
  box-shadow: 20px 20px 18px #0C0C0C, -20px -20px 18px rgba(28, 28, 28, 0.4);
  padding: 40px 30px;
  margin-bottom: 30px;
  background-color:#141414;
  border-radius: 30px;
  text-align: center;
  transition: all 0.5s ease;
}

.home-section-5 .features-item img {
  width: 50%;
  height: 100%;
}

.home-section-5 .features-item h3 {
  color: white;
  font-size: 3vw;
  padding: 10px 0;
}

.home-section-5 .features-item p {
  color: white;
  font-size: 2vw;
  padding: 20px 0;
}

.home-section-5 .features-item:hover {
  transform: translateY(-15px);
}

/* Footer Section */
.footer {
  padding: 50px 0 50px;
  text-align: left;
  background-color: #F5F5F5;
}
