.move-up {
  animation: moveUp 7s linear infinite;
}

@keyframes moveUp {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-100px);
  }
}

.move-down {
  animation: moveDown 7s linear infinite;
}

@keyframes moveDown {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
}

.fading-in {
  animation: fadingIn 7s linear infinite;
}

@keyframes fadingIn {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
}

.fading-out {
  animation: fadeingOut 7s linear infinite;
}

@keyframes fadeingOut {
  0%, 100% {
    opacity: 1;
  }
  20%, 80% {
    opacity: 0;
  }
}

.scanner {
  animation: scanning 7s linear infinite;
  /* transform: translate(250px, -180px); */
}

@keyframes scanning {
  0%, 100% {
    transform: translate(-200px, 100px);
    opacity: 0;
  }
  50% {
    transform: translate(250px, -180px);
    opacity: 0;
  }
  15%, 35%, 65%, 85% {
    opacity: 1;
  }
}