.mobile-sec1-scanner-container {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.mobile-sec1-scanner-container .mob-sec1-animation-area {
  position: absolute;
  width: 750px;
  height: 750px;
  min-width: 450px;
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-sec1-scanner-container .mobile-sec1 {
  position: absolute;
  width: 50%;
  z-index: 1;
}

.mobile-sec1-scanner-container .mobile-layer1 {
  z-index: 2;
  position: absolute;
  width: 30%;
  top: 12%;
  right: 4%;
  animation: MobileLayer1 10s linear;
}

@keyframes MobileLayer1 {
  0%, 34% {
    opacity: 0;
  }
  34.5%, 100% {
    opacity: 1;
  }
}

.mobile-sec1-scanner-container .mobile-layer2 {
  z-index: 2;
  position: absolute;
  width: 28%;
  top: 16%;
  left: 25%;
  animation: MobileLayer2 10s linear;
}

@keyframes MobileLayer2 {
  0%, 40% {
    opacity: 0;
  }
  40.5%, 100% {
    opacity: 1;
  }
}

.mobile-sec1-scanner-container .mobile-layer3 {
  z-index: 2;
  position: absolute;
  width: 23%;
  top: 37%;
  left: 19%;
  animation: MobileLayer3 10s linear;
}

@keyframes MobileLayer3 {
  0%, 57% {
    opacity: 0;
  }
  57.5%, 100% {
    opacity: 1;
  }
}

.mobile-sec1-scanner-container .mobile-layer4 {
  z-index: 2;
  position: absolute;
  width: 50%;
  bottom: 27%;
  left: 37%;
  animation: MobileLayer4 10s linear;
}

@keyframes MobileLayer4 {
  0%, 81% {
    opacity: 0;
  }
  81.5%, 100% {
    opacity: 1;
  }
}

.mobile-sec1-scanner-container .mobile-lineScanner {
  z-index: 3;
  position: absolute;
  width: 65%;
  opacity: 0;
  bottom: 90%;
  animation: MobileScanner1 10s linear;
}

@keyframes MobileScanner1 {
  0%, 15% {
    opacity: 0;
    bottom: 85%;
  }
  20% {
    opacity: 1;
    bottom: 85%;
  }
  85%, 90% {
    bottom: 20%;
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
    bottom: 20%;
  }
}