.phone-skip-activation-container {
  position: relative;
  width: 100%;
  height: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.phone-skip-activation-container .skipPhone {
  position: absolute;
  width: 150px;
  height: 300px;
  top: -50px;
  z-index: 2;
}